@font-face {
  font-family: "Hanken Grotesk";
  src: url("../assets/fonts/HankenGrotesk-VariableFont_wght.woff2")
    format("woff2-variations");
  font-weight: 500 800;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Primary colors */
  --light-red: 0, 100%, 67%;
  --orange-yellow: 39, 100%, 56%;
  --green-teal: 166, 100%, 36%;
  --cobalt-blue: 234, 85%, 45%;

  /* Gradients */
  --light-slate-blue: 252, 100%, 67%;
  --light-royal-blue: 241, 81%, 54%;
  --violet-blue: 256, 72%, 46%;
  --persian-blue: 241, 72%, 46%;

  /* Neutral */
  --white: 0, 0%, 100%;
  --pale-blue: 221, 100%, 96%;
  --light-lavander: 241, 100%, 89%;
  --dark-grey-blue: 224, 30%, 27%;

  /* Animation */
  --item-anim-duration: 0.6s;
  --item-anim-delay: 0.2s;
}

/* CSS Reset based on https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Hanken Grotesk", "Arial", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-optical-sizing: auto;
  background-color: var(--white);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

html {
  font-size: 62.5%;
}

/* Component container */
.summary-component {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 74rem;
  height: 52rem;
  border-radius: 3.5rem;
  overflow: hidden;
  box-shadow: 1.5rem 3rem 4rem rgba(0, 0, 0, 0.1);
  display: flex;
}

/* Result Section */
.result {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(
    to bottom,
    hsl(var(--light-slate-blue)),
    hsl(var(--light-royal-blue))
  );
  border-radius: 3.5rem;
}

.result h2 {
  font-size: 3.6rem;
  color: hsl(0, 0%, 100%);
  margin-bottom: -2rem;
}

.result h3 {
  color: hsl(var(--light-lavander));
  font-weight: 700;
  font-size: 2.4rem;
}

.result p {
  text-align: center;
  color: hsl(var(--light-lavander));
  font-size: 1.8rem;
  padding: 0 6rem;
  margin-bottom: 3rem;
}

.score {
  width: 20rem;
  height: 20rem;
  background: linear-gradient(
    to bottom,
    hsla(var(--violet-blue), 1),
    hsla(var(--persian-blue), 0)
  );
  border-radius: 50%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score__total {
  color: hsl(0, 0%, 100%);
  font-size: 6rem;
  font-weight: 800;
  margin-bottom: -1.5rem;
}

.score__text {
  font-size: 1.8rem;
  color: hsl(var(--light-lavander));
}

/* Summary Section */
.summary {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 4rem 0 4rem;
}

.summary h3 {
  font-weight: 700;
  font-size: 2.4rem;
  align-self: flex-start;
}

/* List container */
.summary__list {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.8rem;
  margin-bottom: 1rem;
}

/* Shared list item styling */
.summary__list-item {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1.5rem 1.5rem;
  border-radius: 1rem;
  transform: translateX(-10rem);
  opacity: 0;
  animation: slide-right var(--item-anim-duration) forwards;
  animation-timing-function: cubic-bezier(0, 0.7, 0.54, 1);
  animation-delay: calc(var(--item-order) * var(--item-anim-delay));
}

.summary__list-item span {
  color: hsla(var(--dark-grey-blue), 0.5);
}

.subject {
  display: flex;
  gap: 1rem;
}

/* Reaction item */
.item-red {
  background-color: hsla(var(--light-red), 0.1);

  --item-order: 1;
}

.item-red .subject {
  color: hsl(var(--light-red));
}

.item-red .subject-score {
  color: hsl(var(--dark-grey-blue));
}

/* Memory item */
.item-yellow {
  background-color: hsla(var(--orange-yellow), 0.1);

  --item-order: 2;
}

.item-yellow .subject {
  color: hsl(var(--orange-yellow));
}

.item-yellow .subject-score {
  color: hsl(var(--dark-grey-blue));
}

/* Verbal item */
.item-green {
  background-color: hsla(var(--green-teal), 0.1);

  --item-order: 3;
}

.item-green .subject {
  color: hsl(var(--green-teal));
}

.item-green .subject-score {
  color: hsl(var(--dark-grey-blue));
}

/* Visual item */
.item-blue {
  background-color: hsla(var(--cobalt-blue), 0.1);

  --item-order: 4;
}

.item-blue .subject {
  color: hsl(var(--cobalt-blue));
}

.item-blue .subject-score {
  color: hsl(var(--dark-grey-blue));
}

/* Button */
.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  text-align: center;
  border: none;
  cursor: pointer;
  align-self: stretch;
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: 3rem;
  padding: 1.5rem;
  margin-bottom: 2rem;
  color: hsl(var(--white));
  background: hsl(var(--dark-grey-blue));
}

.btn:hover,
.btn:active {
  background: linear-gradient(
    to bottom,
    hsl(var(--light-slate-blue)),
    hsl(var(--light-royal-blue))
  );
}

/* Attribution */
.attribution {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.1rem;
  text-align: center;
  font-weight: 500;
}

.attribution a,
a:link,
a:visited {
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}

/* Animation */
@keyframes slide-right {
  from {
    transform: translateX(-10rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .summary-component {
    flex-direction: column;
    width: 37.5rem;
    height: 100vh;
    top: 0;
    transform: translate(-50%, 0);
    border-radius: 0 0 3.5rem 3.5rem;
  }

  .result {
    flex: 0 1 auto;
    gap: 2rem;
    border-radius: 0 0 3.5rem 3.5rem;
  }

  .result h2 {
    font-size: 2.4rem;
    margin-bottom: -1rem;
  }

  .result h3 {
    font-size: 2rem;
    margin-top: 2rem;
  }

  .result p {
    font-size: 1.6rem;
    margin-bottom: 3.5rem;
  }

  .score {
    width: 14rem;
    height: 14rem;
  }

  .summary {
    flex: 1 0 auto;
  }

  .summary h3 {
    font-size: 2rem;
  }

  .summary__list-item {
    font-size: 1.6rem;
  }

  .attribution {
    display: none;
  }
}
