@font-face {
  font-family: "Hanken Grotesk";
  src: url("../assets/fonts/HankenGrotesk-VariableFont_wght.woff2")
    format("woff2-variations");
  font-weight: 500 800;
  font-style: normal;
  font-display: swap;
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Hanken Grotesk", "Arial", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

html {
}

.summary-component {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 740px;
  height: 520px;
  border-radius: 35px;
  overflow: hidden;
  box-shadow: 15px 30px 40px rgba(0, 0, 0, 0.1);

  display: flex;
}

.result,
.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex: 0 0 50%;
}

.result {
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  border-radius: 35px;
}

.result h3 {
  color: hsl(241, 100%, 89%);
  font-weight: 700;
  font-size: 24px;
}

.score {
  width: 200px;
  height: 200px;
  background: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  border-radius: 50%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score__total {
  color: hsl(0, 0%, 100%);
  font-size: 60px;
  font-weight: 800;
  margin-bottom: -15px;
}

.score__text {
  font-size: 18px;
  color: hsl(241, 100%, 89%);
}

.result h2 {
  font-size: 36px;
  color: hsl(0, 0%, 100%);
  margin-bottom: -20px;
}

.result p {
  text-align: center;
  color: hsl(241, 100%, 89%);
  font-size: 18px;
  padding: 0 60px;
  margin-bottom: 30px;
}

.summary {
}

/* ATTRIBUTION */
.attribution {
  font-size: 11px;
  text-align: center;
  font-weight: 500;
}

.attribution a {
  color: hsl(228, 45% 44%);
}
